body{
    margin: 0px;
    overflow: scroll;
}

p{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(35 31 32);
}

ul{
    list-style-type: none;
}

header{
    width: 60%;
    height: 100px;
    margin: auto;
    display: flex;
    margin-left: 20%;
}

#logo{
    height: 95%;
    width: 17%;
    display: flex;
    margin-top: 5px;
}

#logoImage{
    height: 100%;
    width: 40%;
    border-radius: 25%;
    font-size: 65px;
    background-color: rgb(165 205 57);
    display: flex;
}

#logoImage span{
    margin-top: 10px;
}

#logoFirst{
    margin-left: 17px;
    color: rgb(236 28 36);
}

#logoSecond{
    color: rgb(35 31 32);
}

#logoName{
    margin-left: 3%;
    height: 100%;
    width: 50%;
}

#logoNameTop{
    margin-top: 4%;
    height: 45%;
    width: 100%;
    color: rgb(236 28 36);
    font-size: 40px;
}

#logoNameBottom{
    height: 45%;
    width: 100%;
    color: rgb(35 31 32);
    font-size: 45px;
}

#searchSection{
    width: 60%;
    height: 38px;
    margin-top: 25px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: 100%;
  }

  input[type="search"] {
    width: 90%;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }

  button[type="search"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
  }

#cart{
    margin-left: 2%;
    margin-top: 2%;
    height: 50%;
    width: 6%;
}

#cart:hover{
    transform: scale(1.1);
}

#cart a{
    color: rgb(35 31 32);
}

#offersImageSlider{
    width: 100%;
    height: 550px;
    margin-top: 10px;
}

#sliderImage{
    width: 100%;
    height: 100%;
}

#offersBanner{
    width: 70%;
    height: 70px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

.offersTile{
    height: 100%;
    width: 16%;
    margin: auto;
}

.offersTile:hover{
    transform: scale(1.1);
}

a img{
    height: 100%;
    width: 100%;
}

#sellersObjects{
    width: 80%;
    height: 1320px;
    margin: auto;
    margin-bottom: 20px;
}

.sellersBanner{
    margin-top: 30px;
    width: 100%;
    font-size: 35px;
    color: #555;
    text-align: center;
    font-weight: bold;
}

hr{
    border-radius: 100%;
}

#bestSellers{
    height: 350px;
    width: 100%;
    display: flex;
}

.bestSellersObjects{
    height: 350px;
    width: 15%;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(33,33,33,.2);
    border: 0.5px solid rgb(165 205 57);
    border-radius: 0px 0px 25px 25px;
}

.bestSellersObjects:hover{
    transform: scale(1.025);
    border: 0.5px solid rgb(236 28 36) ;
}

.bestSellerImage{
    height: 225px;
    width: 100%;
}

.bestSellerImage img{
    height: 100%;
    width: 100%;
}

.bestSellerDetails{
    height: 125px;
    width: 100%;
    text-align: center;
    color: #555;
}

.productDetails{
    width: 100%;
    height: 45px;
}

h3{
    font-size: 20px;
    color: #555;
    font-weight: bold;
}

.bestSellerDetails img{
    height: 35px;
    width: 35px;
}

.deliveryOptions{
    width: 100%;
    height: 45px;
}

.bestSellerDetails button{
    margin-top: 10px;
    font-size: 15px;
    background-color: rgb(252 225 123);
    color: rgb(236 28 36);
    border: 0px solid rgb(165 205 57);
    box-shadow: 1px 1px 1px rgb(165 205 57);
    border-radius: 7px;
    cursor: pointer;
}

#categoriesBanner{
    width: 100%;
    display: flex;
}

.categoriesTiles{
    height: 200px;
    width: 15%;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(33,33,33,.2);
    border: 0.5px solid rgb(165 205 57);
}

.categoriesTiles:hover{
    transform: scale(1.025);
    border: 0.5px solid rgb(236 28 36) ;
}

.categoriesImage{
    width: 100%;
    height:125px;
}

.categoriesImage img{
    height: 100%;
    width: 100%;
}

.categoriesDetails{
    width: 100%;
    height:75px;
    text-align: center;
}

.categoriesDetails a p{
    height: 50px;
    font-size: 20px;
    color: #555;
    font-weight: bold;
}

.categoriesDetails a span{
    font-size: 15px;
    color: #555;
}

.categoriesDetails a img{
    height: 10px;
    width: 5px;
}

#brands{
    width: 80%;
    height: 255px;
    margin: auto;
}

.brandsName{
    width: 100%;
    font-size: 35px;
    color: #555;
    text-align: center;
    font-weight: bold;
}

#brandsBanner{
    height: 190px;
    width: 100%;
    display: flex;
}

.brandsTiles{
    height: 100%;
    width: 15%;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(33,33,33,.2);
    border: 0.5px solid rgb(165 205 57);
}

.brandsTiles:hover{
    transform: scale(1.025);
    border: 0.5px solid rgb(236 28 36) ;
}

.brandsTiles a img{
    height: 100%;
    width: 100%;
}

#bankOffers{
    width: 80%;
    height: 260px;
    margin: auto;
    margin-top: 20px;
}

.banksName{
    width: 100%;
    font-size: 35px;
    color: #555;
    text-align: center;
    font-weight: bold;
}

#banksBanner{
    height: 190px;
    width: 80%;
    display: flex;
    margin: auto;
}

.banksTiles{
    height: 100%;
    width: 20%;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(33,33,33,.2);
    border: 0.5px solid rgb(165 205 57);
}

.banksTiles:hover{
    transform: scale(1.025);
    border: 0.5px solid rgb(236 28 36) ;
}

.banksTiles a img{
    height: 100%;
    width: 100%;
}

footer{
    width: 100%;
    height: 500px;
    color: rgb(79 79 79);
}

#footerTop{
    height: 250px;
    width: 70%;
    margin: auto;
    display: flex;
}

.footerDetails{
    height: 100%;
    width:20%;
    margin: auto;
}

.footerDetails h4{
    color: rgb(165 205 57);
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0.5px 0px 0.5px rgb(236 28 36);
}

ul li a p{
    margin: 10px;
    padding: 5px;
}

ul li a:hover{
    color: rgb(165 205 57);
}

ul a img{
    height: 30px;
    width: 30px;
}

#footerBottom{
    height: 145px;
    width: 80%;
    margin: auto;
    display: block;
}

.bottomDetails{
    width: 100%;
    height:40px;
    display: flex;
}

.row{
    width:20%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(165 205 57);
    font-weight: 500;
}

.row p{
    margin-left: 40px;
}

.column{
    width: 80%;
    height: 100%;
    color: rgb(138, 137, 137);
}

.column a{
    color: rgb(138, 137, 137);
}

.column a:hover{
    color: rgb(165 205 57);
}

#disclaimer{
    text-align: center;
    color: rgb(138, 137, 137);
}

@media screen and (max-width: 1700px){
    header{
        width: 80%;
        height: 100px;
        margin: auto;
        margin-left: 16%;
    }

    #logo {
        height: 95%;
        width: 17%;
        display: flex;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1600px){
    #offersImageSlider{
        width: 100%;
        height: 500px;
        margin-top: 10px;
    }

    #logo {
        height: 90%;
        width: 17%;
        display: flex;
        margin-top: 5px;
    }

    #offersBanner {
        width: 80%;
        height: 70px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
    }    
}

@media screen and (max-width: 1500px){
    header{
        width: 80%;
        height: 100px;
        margin: auto;
        margin-left: 15%;
    }

    #logo {
        height: 90%;
        width: 17%;
        display: flex;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1400px){
    header{
        width: 80%;
        height: 100px;
        margin: auto;
        margin-left: 13%;
    }

    #logo {
        height: 90%;
        width: 17%;
        display: flex;
        margin-top: 5px;
    }

    #offersBanner {
        width: 85%;
        height: 70px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
    }
    
    .sellersBanner{
        margin-top: 30px;
        width: 100%;
        font-size: 30px;
        color: #555;
        text-align: center;
        font-weight: bold;
    }

    h3{
        font-size: 15px;
        color: #555;
        font-weight: bold;
    }

    p{
        font-size: 14px;
    }

    .categoriesDetails a p{
        height: 50px;
        font-size: 16px;
        color: #555;
        font-weight: bold;
    }
}

@media screen and (max-width: 1300px){
    header{
        width: 80%;
        margin-left: 15%;
    }
    #logo img{
        height: 90%;
        width: 90;
    }

    #logo {
        height: 85%;
        width: 17%;
        display: flex;
        margin-top: 5px;
    }

    #sellersObjects {
        width: 90%;
        height: 1320px;
        margin: auto;
        margin-bottom: 20px;
    }

    #brands {
        width: 90%;
        height: 255px;
        margin: auto;
    }

    #bankOffers {
        width: 90%;
        height: 260px;
        margin: auto;
        margin-top: 20px;
    }

    .bestSellersObjects {
        height: 350px;
        width: 15%;
        margin: auto;
        box-shadow: 5px 5px 5px rgba(33,33,33,.2);
        border: 0.5px solid rgb(165 205 57);
        border-radius: 0px 0px 25px 25px;
    }
}

@media screen and (max-width: 1200px){
    header{
        width: 80%;
        margin-left: 17%;
    }

    #logo {
        height: 80%;
        width: 18%;
        display: flex;
        margin-top: 5px;
    }

    #offersImageSlider{
        width: 100%;
        height: 475px;
        margin-top: 10px;
    }

    #offersBanner {
        width: 90%;
        height: 70px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
    }

    #sellersObjects {
        width: 95%;
        height: 1320px;
        margin: auto;
        margin-bottom: 20px;
    }

    #brands {
        width: 95%;
        height: 255px;
        margin: auto;
    }

    #bankOffers {
        width: 95%;
        height: 260px;
        margin: auto;
        margin-top: 20px;
    }

    .bestSellersObjects {
        height: 350px;
        width: 17.5%;
        margin: auto;
        box-shadow: 5px 5px 5px rgba(33,33,33,.2);
        border: 0.5px solid rgb(165 205 57);
        border-radius: 0px 0px 25px 25px;
    }
}

@media screen and (max-width: 1100px){
    header{
        width: 80%;
        margin-left: 17%;
    }



    #logo {
        height: 80%;
        width: 20%;
        display: flex;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1000px){
    header{
        width: 80%;
        margin-left: 19%;
    }

    #logo {
        height: 80%;
        width: 21%;
        display: flex;
        margin-top: 5px;
    }

    #searchSection {
        width: 50%;
        height: 38px;
        margin-top: 25px;
    }

    #offersImageSlider{
        width: 100%;
        height: 420px;
        margin-top: 10px;
    }

    #offersBanner {
        width: 93%;
        height: 60px;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
    }

    .bestSellerImage {
        height: 200px;
        width: 100%;
    }

    .bestSellersObjects {
        height: 350px;
        width: 20%;
        margin: auto;
        box-shadow: 5px 5px 5px rgba(33,33,33,.2);
        border: 0.5px solid rgb(165 205 57);
        border-radius: 0px 0px 25px 25px;
    }

    #footerTop {
        height: 300px;
        width: 75%;
        margin: auto;
        display: flex;
    }

    footer {
        width: 100%;
        height: 550px;
        color: rgb(79 79 79);
    }
}

@media screen and (max-width:900px){

    header{
        width: 80%;
        margin-left: 19%;
    }

    #logo img {
        height: 80%;
        width: 90;
    }

    #cart {
        margin-left: 2%;
        margin-top: 2%;
        height: 49%;
        width: 7%;
    }

    #sellersObjects {
        width: 100%;
        height: 1320px;
        margin: auto;
        margin-bottom: 20px;
    }

    #brands {
        width: 100%;
        height: 255px;
        margin: auto;
    }

    #bankOffers {
        width: 100%;
        height: 260px;
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 800px){

    header{
        width: 80%;
        margin-left: 19%;
    }
    
    #footerTop {
        height: 300px;
        width: 100%;
        margin: auto;
        display: flex;
    }

    #logo img {
        height: 70%;
        width: 90;
    }

}